.login-section {  
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 89vh;
}
  
.form-container {
  width: 350px;
  height: 600px;
  background: linear-gradient(rgba(0, 72, 119, 0.4)), url(/media/dog-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 12rem 5rem;
  overflow-x: hidden;
  position: relative;
  box-shadow: 7px 10px rgba(0, 49, 60, 0.5);
}
 
.form-div {
  display: flex;
  position: absolute;
  overflow: hidden;
}

.signup-form {
  transform: translateX(-40rem);
}

.user-option {
  display: flex;

  button {
    color: white;
    justify-content: space-between;
    font-size: 1rem;
    border: none;
    background: none;
    padding-left: 0rem;
    width: 5rem;
    text-align: start;
    outline: none;

  }
}

.login-form, .signup-form {
  display: flex;
  flex-direction: column;
  width: 16rem;
  position: absolute;

  input {
    margin: 0.5rem 0rem;
    padding: 0.2rem;
    outline: none;
    border-radius: 0.7rem;
    font-size: 1.5rem;
    border: none;
  }
}

.input-button {
  text-transform: uppercase;
  border-radius: 0.7rem;
  font-size: 1.5rem;
  padding: 0.2rem;
  width: 16rem;
  border: none;
  color: rgb(53, 143, 233);
  font-weight: 600;
  outline: none;
}